<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9b953d5a-5058-4127-a1d8-6f8564540c97" name="Workflow" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="9b953d5a-5058-4127-a1d8-6f8564540c97fileName">Workflow</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="a1acc9d9-dedb-4536-958a-a5cafc7c0d55"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="8c4dd766-676d-4232-a816-b1b61c59538d"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>