<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="24c92b8c-2fe0-48c4-98ec-fb1798e27b8d" name="Payment" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="24c92b8c-2fe0-48c4-98ec-fb1798e27b8dfileName">Payment</con:setting></con:settings><con:endpoints/><con:environmentSpec><con:entry environmentId="a1acc9d9-dedb-4536-958a-a5cafc7c0d55"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="8c4dd766-676d-4232-a816-b1b61c59538d"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>