<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5159ab6d-cf85-484d-8218-26b1661d96e4" name="https://dev.sign.rlicorp.com" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5159ab6d-cf85-484d-8218-26b1661d96e4fileName">https%3A%2F%2Fdev.sign.rlicorp.com</con:setting></con:settings><con:endpoints/><con:environmentSpec><con:entry environmentId="a1acc9d9-dedb-4536-958a-a5cafc7c0d55"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="8c4dd766-676d-4232-a816-b1b61c59538d"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>