<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8f87ebc7-8cf2-417c-921a-0a5d4a2df0a0" name="Performance Tests" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="8f87ebc7-8cf2-417c-921a-0a5d4a2df0a0fileName">Performance-Tests</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:setupScript> //runner.fail() </con:setupScript><con:reportParameters/><con:environmentSpec><con:entry environmentId="a1acc9d9-dedb-4536-958a-a5cafc7c0d55"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="8c4dd766-676d-4232-a816-b1b61c59538d"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>